In [370]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

In [371]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [372]:
dataset=pd.read_csv('/content/drive/MyDrive/week1_wids/corrected train set.csv')
test_dataset=pd.read_csv('/content/drive/MyDrive/week1_wids/week 1 test.csv')

In [373]:
dataset.head()

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0

In [374]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16108 entries, 0 to 16107
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              16108 non-null  int64
 1   product_code    16108 non-null  object
 2   loading         15969 non-null  float64
 3   attribute_0     16108 non-null  object
 4   attribute_1     16108 non-null  object
 5   attribute_2     16108 non-null  int64
 6   attribute_3     16108 non-null  int64
 7   measurement_0   16108 non-null  int64
 8   measurement_1   16108 non-null  int64
 9   measurement_2   16108 non-null  int64
 10  measurement_3   15880 non-null  float64
 11  measurement_4   15788 non-null  float64
 12  measurement_5   15681 non-null  float64
 13  measurement_6   15618 non-null  float64
 14  measurement_7   15548 non-null  float64
 15  measurement_8   15468 non-null  float64
 16  measurement_9   15363 non-null  float64
 17  measurement_10  15303 non-null  float64
 18  measurement_11  15230 non-null  float64
 19  measurement_12  15151 non-null  float64
 20  measurement_13  15056 non-null  float64
 21  measurement_14  15024 non-null  float64
 22  measurement_15  14905 non-null  float64
 23  measurement_16  14819 non-null  float64
 24  measurement_17  14763 non-null  float64
 25  failure         16108 non-null  int64
dtypes: float64(16), int64(7), object(3)
memory usage: 3.2+ MB

In [375]:
dataset.describe()

,id,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
count,16108.000000,15969.000000,16108.000000,16108.000000,16108.000000,16108.000000,16108.000000,15880.000000,15788.000000,15681.000000,...,15363.000000,15303.000000,15230.000000,15151.000000,15056.000000,15024.000000,14905.000000,14819.000000,14763.000000,16108.000000
mean,8053.500000,127.654870,7.244226,7.050161,7.898498,7.229513,6.171840,17.795995,11.728396,17.135528,...,11.429720,16.115783,19.094749,11.779714,15.689460,16.106270,15.030211,16.507123,701.457690,0.212876
std,4650.123403,39.040027,1.721268,1.395508,4.443216,4.023959,3.263784,1.004897,0.998983,0.998751,...,0.999876,1.206377,1.648241,1.421943,1.248499,1.473976,1.670008,1.747340,111.867459,0.409353
min,0.000000,33.160000,5.000000,5.000000,0.000000,0.000000,0.000000,13.968000,8.008000,12.073000,...,7.537000,9.676000,12.461000,5.181000,10.890000,9.140000,9.158000,10.264000,287.173000,0.000000
25%,4026.750000,100.020000,5.000000,5.000000,5.000000,4.000000,4.000000,17.124000,11.043000,16.452000,...,10.752000,15.340000,17.960250,10.842000,14.864000,15.146750,13.847000,15.272500,627.286500,0.000000
50%,8053.500000,122.160000,8.000000,8.000000,7.000000,7.000000,6.000000,17.789000,11.733000,17.140000,...,11.434000,16.127000,19.159000,11.823000,15.653000,16.071500,15.006000,16.423000,700.743000,0.000000
75%,12080.250000,148.640000,9.000000,8.000000,11.000000,10.000000,8.000000,18.475000,12.413250,17.810000,...,12.100500,16.894000,20.263750,12.747000,16.456000,17.080000,16.177000,17.692000,776.150000,0.000000
max,16107.000000,385.860000,9.000000,8.000000,29.000000,27.000000,21.000000,21.499000,16.484000,21.425000,...,15.412000,22.479000,25.640000,17.392000,22.713000,22.303000,21.626000,24.094000,1107.479000,1.000000

In [376]:
y=dataset.failure
X=dataset.drop(['failure','id','product_code','attribute_1'], axis=1)
#as failure dont depend on id and product code

In [377]:

# Select categorical columns 
categorical_cols = [cname for cname in X.columns if
                        X[cname].dtype == "object"]
print('The categorical variables are :', categorical_cols)

# Select numerical columns
numerical_cols = [cname for cname in X.columns if X[cname].dtype in ['int64', 'float64']]
print('The numerical variables are :', numerical_cols)

The categorical variables are : ['attribute_0']
The numerical variables are : ['loading', 'attribute_2', 'attribute_3', 'measurement_0', 'measurement_1', 'measurement_2', 'measurement_3', 'measurement_4', 'measurement_5', 'measurement_6', 'measurement_7', 'measurement_8', 'measurement_9', 'measurement_10', 'measurement_11', 'measurement_12', 'measurement_13', 'measurement_14', 'measurement_15', 'measurement_16', 'measurement_17']

In [378]:
dataset.attribute_0.unique()

array(['material_7', 'material_5'], dtype=object)

In [379]:
dataset[numerical_cols].isnull().sum()

loading            139
attribute_2          0
attribute_3          0
measurement_0        0
measurement_1        0
measurement_2        0
measurement_3      228
measurement_4      320
measurement_5      427
measurement_6      490
measurement_7      560
measurement_8      640
measurement_9      745
measurement_10     805
measurement_11     878
measurement_12     957
measurement_13    1052
measurement_14    1084
measurement_15    1203
measurement_16    1289
measurement_17    1345
dtype: int64

In [380]:
print(round(dataset[numerical_cols].describe()),2)

       loading  attribute_2  attribute_3  measurement_0  measurement_1  \
count  15969.0      16108.0      16108.0        16108.0        16108.0
mean     128.0          7.0          7.0            8.0            7.0
std       39.0          2.0          1.0            4.0            4.0
min       33.0          5.0          5.0            0.0            0.0
25%      100.0          5.0          5.0            5.0            4.0
50%      122.0          8.0          8.0            7.0            7.0
75%      149.0          9.0          8.0           11.0           10.0
max      386.0          9.0          8.0           29.0           27.0

       measurement_2  measurement_3  measurement_4  measurement_5  \
count        16108.0        15880.0        15788.0        15681.0
mean             6.0           18.0           12.0           17.0
std              3.0            1.0            1.0            1.0
min              0.0           14.0            8.0           12.0
25%              4.0           17.0           11.0           16.0
50%              6.0           18.0           12.0           17.0
75%              8.0           18.0           12.0           18.0
max             21.0           21.0           16.0           21.0

       measurement_6  ...  measurement_8  measurement_9  measurement_10  \
count        15618.0  ...        15468.0        15363.0         15303.0
mean            18.0  ...           19.0           11.0            16.0
std              1.0  ...            1.0            1.0             1.0
min             14.0  ...           15.0            8.0            10.0
25%             17.0  ...           18.0           11.0            15.0
50%             18.0  ...           19.0           11.0            16.0
75%             18.0  ...           20.0           12.0            17.0
max             22.0  ...           23.0           15.0            22.0

       measurement_11  measurement_12  measurement_13  measurement_14  \
count         15230.0         15151.0         15056.0         15024.0
mean             19.0            12.0            16.0            16.0
std               2.0             1.0             1.0             1.0
min              12.0             5.0            11.0             9.0
25%              18.0            11.0            15.0            15.0
50%              19.0            12.0            16.0            16.0
75%              20.0            13.0            16.0            17.0
max              26.0            17.0            23.0            22.0

       measurement_15  measurement_16  measurement_17
count         14905.0         14819.0         14763.0
mean             15.0            17.0           701.0
std               2.0             2.0           112.0
min               9.0            10.0           287.0
25%              14.0            15.0           627.0
50%              15.0            16.0           701.0
75%              16.0            18.0           776.0
max              22.0            24.0          1107.0

[8 rows x 21 columns] 2

In [381]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [382]:
X_train.shape, X_valid.shape

((12886, 22), (3222, 22))

In [383]:
X_train[numerical_cols].isnull().sum()

loading            105
attribute_2          0
attribute_3          0
measurement_0        0
measurement_1        0
measurement_2        0
measurement_3      180
measurement_4      266
measurement_5      351
measurement_6      378
measurement_7      459
measurement_8      498
measurement_9      587
measurement_10     660
measurement_11     708
measurement_12     772
measurement_13     828
measurement_14     881
measurement_15     964
measurement_16    1037
measurement_17    1073
dtype: int64

In [384]:
y_train.isnull().sum()

0

In [385]:
for df1 in [X_train, X_valid]:
    for col in numerical_cols:
        col_median=X_train[col].median()
        df1[col].fillna(col_median, inplace=True)

In [386]:
X_train[numerical_cols].isnull().sum()

loading           0
attribute_2       0
attribute_3       0
measurement_0     0
measurement_1     0
measurement_2     0
measurement_3     0
measurement_4     0
measurement_5     0
measurement_6     0
measurement_7     0
measurement_8     0
measurement_9     0
measurement_10    0
measurement_11    0
measurement_12    0
measurement_13    0
measurement_14    0
measurement_15    0
measurement_16    0
measurement_17    0
dtype: int64

In [387]:
X_train[categorical_cols].isnull().sum()

attribute_0    0
dtype: int64

In [388]:
X_train.isnull().sum()

loading           0
attribute_0       0
attribute_2       0
attribute_3       0
measurement_0     0
measurement_1     0
measurement_2     0
measurement_3     0
measurement_4     0
measurement_5     0
measurement_6     0
measurement_7     0
measurement_8     0
measurement_9     0
measurement_10    0
measurement_11    0
measurement_12    0
measurement_13    0
measurement_14    0
measurement_15    0
measurement_16    0
measurement_17    0
dtype: int64

In [389]:
X_valid.isnull().sum()

loading           0
attribute_0       0
attribute_2       0
attribute_3       0
measurement_0     0
measurement_1     0
measurement_2     0
measurement_3     0
measurement_4     0
measurement_5     0
measurement_6     0
measurement_7     0
measurement_8     0
measurement_9     0
measurement_10    0
measurement_11    0
measurement_12    0
measurement_13    0
measurement_14    0
measurement_15    0
measurement_16    0
measurement_17    0
dtype: int64

In [390]:
label_encoder = LabelEncoder()
label_cols_train = pd.DataFrame(label_encoder.fit_transform(X_train[categorical_cols]))
label_cols_valid = pd.DataFrame(label_encoder.transform(X_valid[categorical_cols]))

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [391]:
# One-hot encoding removed index; put it back
label_cols_train.index = X_train.index
label_cols_valid.index = X_valid.index

In [392]:
# Remove categorical columns (will replace with one-hot encoding)
num_X_train = X_train.drop(categorical_cols, axis=1)
num_X_valid = X_valid.drop(categorical_cols, axis=1)

# Add one-hot encoded columns to numerical features
label_X_train = pd.concat([num_X_train, label_cols_train], axis=1)
label_X_valid = pd.concat([num_X_valid, label_cols_valid], axis=1)
label_X_train.head()

,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,0
5527,148.41,8,8,9,7,13,17.207,10.265,17.705,16.122,...,9.388,15.638,20.467,11.831,14.459,15.851,13.5370,15.311,504.224,0
14174,105.11,5,8,15,3,1,17.245,13.912,15.964,17.473,...,11.404,15.213,18.901,11.831,15.255,17.144,17.8340,18.719,700.688,1
1530,125.93,9,5,4,4,6,18.651,13.080,17.413,17.257,...,10.935,16.344,17.077,12.505,15.593,14.909,14.9290,16.433,689.003,1
11008,117.12,5,8,3,8,8,19.244,12.253,18.798,16.293,...,10.319,16.629,19.096,11.584,15.482,14.226,17.2300,19.046,927.321,1
9306,83.95,8,8,3,11,4,18.272,12.112,17.344,19.276,...,12.018,15.208,21.547,11.885,13.954,16.067,14.9975,15.918,729.038,0

In [393]:
cols = label_X_train.columns

In [394]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

final_X_train = scaler.fit_transform(label_X_train)

final_X_valid = scaler.transform(label_X_valid)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [395]:
final_X_train = pd.DataFrame(final_X_train, columns=[cols])
final_X_valid = pd.DataFrame(final_X_valid, columns=[cols])

In [396]:
final_X_train.head()

,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,0
0,0.520371,0.435585,0.685564,0.248013,-0.054380,2.064112,-0.592029,-1.485323,0.579643,-1.402576,...,-2.092546,-0.400446,0.856147,0.034624,-1.017858,-0.175112,-0.924882,-0.709117,-1.839086,-1.445741
1,-0.584973,-1.306125,0.685564,1.596019,-1.047291,-1.580927,-0.553949,2.199598,-1.188351,-0.036092,...,-0.032573,-0.762006,-0.120627,0.034624,-0.358045,0.737262,1.739195,1.315241,-0.007713,0.691687
2,-0.053489,1.016156,-1.458653,-0.875325,-0.799064,-0.062160,0.855006,1.358947,0.283116,-0.254568,...,-0.511803,0.200171,-1.258325,0.526149,-0.077873,-0.839811,-0.061863,-0.042647,-0.116637,0.691687
3,-0.278387,-1.306125,0.685564,-1.099993,0.193847,0.545346,1.449252,0.523348,1.689590,-1.229616,...,-1.141239,0.442629,0.001002,-0.145504,-0.169882,-1.321753,1.364724,1.509479,2.104886,0.691687
4,-1.125137,0.435585,0.685564,-1.099993,0.938530,-0.669667,0.475209,0.380882,0.213046,1.787572,...,0.594819,-0.766260,1.529784,0.074005,-1.436457,-0.022697,-0.019394,-0.348558,0.256556,-1.445741

In [397]:
from sklearn.linear_model import LogisticRegression

lr_model = LogisticRegression(C=0.001,solver='lbfgs')
lr_model.fit(final_X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

LogisticRegression(C=0.001)

In [398]:
lr = lr_model.predict(final_X_valid)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

In [399]:
score = lr_model.score(final_X_valid, y_valid)
print(score)

0.7867783985102421

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

In [400]:
from sklearn.metrics import roc_auc_score
lr_auc = roc_auc_score(y_valid, lr)
print('LogisticRegression: AUROC = %.3f' % (lr_auc))

LogisticRegression: AUROC = 0.500

In [401]:
id=test_dataset.id
X_test=test_dataset.drop(['id','product_code','attribute_1'], axis=1)

In [402]:
# Select categorical columns 
categorical_cols_test = [cname for cname in X_test.columns if
                        X_test[cname].dtype == "object"]
print('The categorical variables are :', categorical_cols)

# Select numerical columns
numerical_cols_test = [cname for cname in X_test.columns if X_test[cname].dtype in ['int64', 'float64']]
print('The numerical variables are :', numerical_cols)

The categorical variables are : ['attribute_0']
The numerical variables are : ['loading', 'attribute_2', 'attribute_3', 'measurement_0', 'measurement_1', 'measurement_2', 'measurement_3', 'measurement_4', 'measurement_5', 'measurement_6', 'measurement_7', 'measurement_8', 'measurement_9', 'measurement_10', 'measurement_11', 'measurement_12', 'measurement_13', 'measurement_14', 'measurement_15', 'measurement_16', 'measurement_17']

In [403]:
for df1 in [X_test]:
    for col in numerical_cols_test:
        col_median=X_test[col].median()
        df1[col].fillna(col_median, inplace=True)

In [404]:

label_cols_test = pd.DataFrame(label_encoder.fit_transform(X_test[categorical_cols_test]))

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [405]:
# One-hot encoding removed index; put it back
label_cols_test.index = X_test.index

In [406]:
# Remove categorical columns (will replace with one-hot encoding)
num_X_test = X_test.drop(categorical_cols, axis=1)

# Add one-hot encoded columns to numerical features
label_X_test = pd.concat([num_X_test, label_cols_test], axis=1)
label_X_test.head()

,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,0
0,145.08,5,8,9,7,8,16.863,10.156,18.038,16.607,...,12.015,15.247,19.2685,11.303,16.717,16.768,14.707,17.190,658.222,0
1,146.34,5,8,2,7,1,18.303,12.670,17.570,15.942,...,11.424,16.215,20.7780,9.195,16.047,15.988,15.759,18.393,616.670,0
2,118.14,5,8,1,9,3,16.883,12.024,16.738,16.299,...,11.181,16.391,20.4340,9.365,16.182,15.934,12.487,14.615,433.006,0
3,119.86,5,8,10,9,9,17.686,10.697,16.481,16.394,...,10.959,16.567,18.4300,11.836,15.767,18.049,15.346,15.337,572.642,0
4,122.66,5,8,8,9,9,18.132,13.269,17.113,16.503,...,10.333,18.631,17.5570,11.959,16.202,14.098,14.110,15.025,486.221,0

In [407]:
cols = label_X_test.columns
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

final_X_test = scaler.fit_transform(label_X_test)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [408]:
final_X_test = pd.DataFrame(final_X_test, columns=[cols])
final_X_test.head()

,loading,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,measurement_3,measurement_4,measurement_5,measurement_6,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,0
0,0.439222,-38.646752,0.3112,0.679394,-0.695893,0.478126,-0.932630,-1.611733,0.940164,-0.941130,...,0.598224,-0.537292,-0.017230,-0.180221,1.171431,0.554100,-0.181408,0.503600,-0.322316,0.0
1,0.471688,-38.646752,0.3112,-1.364174,-0.695893,-1.596843,0.524663,0.950457,0.463009,-1.624583,...,-0.008094,0.057808,1.186601,-1.558118,0.471017,0.018646,0.635852,1.265079,-0.635222,0.0
2,-0.254939,-38.646752,0.3112,-1.656113,-0.194676,-1.003994,-0.912390,0.292074,-0.385266,-1.257676,...,-0.257393,0.166007,0.912260,-1.446997,0.612145,-0.018424,-1.906044,-1.126332,-2.018296,0.0
3,-0.210620,-38.646752,0.3112,0.971333,-0.194676,0.774550,-0.099746,-1.060363,-0.647293,-1.160040,...,-0.485146,0.274207,-0.685937,0.168175,0.178306,1.433481,0.315008,-0.669318,-0.966773,0.0
4,-0.138473,-38.646752,0.3112,0.387456,-0.194676,0.774550,0.351610,1.560939,-0.002930,-1.048016,...,-1.127372,1.543098,-1.382157,0.248574,0.633053,-1.278801,-0.645195,-0.866809,-1.617563,0.0

In [409]:
lr_test = lr_model.predict(final_X_test)

lr_test

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

array([0, 0, 0, ..., 0, 0, 0])

In [410]:
lr_test = pd.DataFrame(lr_test, columns=['failure'])

In [411]:
lr_test.head()

   failure
0        0
1        0
2        0
3        0
4        0

In [412]:
y_pred_test = pd.concat([id,lr_test ], axis=1)
y_pred_test

          id  failure
0      16108        0
1      16109        0
2      16110        0
3      16111        0
4      16112        0
...      ...      ...
10457  26565        0
10458  26566        0
10459  26567        0
10460  26568        0
10461  26569        0

[10462 rows x 2 columns]

In [413]:
y_pred_test.to_csv('file.csv', index=False)